<div id="post-stream">
  <div class="row" style="margin: 0px 0px 10px 0px;">
        <div><h4>{{title}}</h4></div>
        <div class="text-right">
           <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" placeholder="Search NIP" style="margin: 10px 10px 10px 10px;width: 250px;" ng-model="nip" />
                    <a href="#/search/{{ nip }}" tooltip="Search NIP" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="text-left">
            <a href="#/new-employee" class="btn btn-info" role="button">Add New Employee</a>
        </div>
  </div>
  <div>
      <table class="table table-bordered">
          <thead>
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Lantai</th>
                <th>Baris</th>
                <th>Kelompok</th>
                <th>Nomor</th>
                <th>Kolom</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employee">
                <td>{{ emp.nip }}</td>
                <td>{{ emp.nama }}</td>
                <td>{{ emp.lantai }}</td>
                <td>{{ emp.baris }}</td>
                <td>{{ emp.kelompok }}</td>
                <td>{{ emp.nomor }}</td>
                <td>{{ emp.kolom }}</td>
                <td align="center">
                    <a href="#/employee/{{ emp._id }}" tooltip="Edit Employee" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button type="button" tooltip="Delete Employee" ng-click="deleteEmployeeConfirm(emp)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>
  </div>
</div>
